@layer utilities {
  .dark {
    --color-bg-primary: #18181b;
    --color-bg-secondary: #e4e4e7;
    --color-text-primary: #e4e4e7;
    --color-text-secondary: #f3f4f6;
    --color-indigo-first: #27272a;
    --color-indigo-last: #e4e4e7;
    --color-gray: #27272a;
  }
  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #52525b;
    --color-text-primary: #52525b;
    --color-text-secondary: #fafafa;
    --color-indigo-first: #f4f4f5;
    --color-indigo-last: #52525b;
    --color-gray: #cbd5e1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-indigo-first);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-gray);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray);
}
